{% set title_page = "Index" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "include/head.html" %}
</head>
<body>

    <div class="site">
        <header>
            <div class="bg">
                <div class="elipse elipse--small"></div>
                <div class="elipse elipse--middle"></div>
                <div class="elipse elipse--big"></div>
            </div>
            <div class="top-line">
                <div class="logo">
                    <img src="assets/img/logo.svg" alt="logo">
                </div>
                <div class="info">
                    <div class="phone"><a href="tel:88007009875">8 800 700 98 75</a></div>
                    <div class="burger clone"></div>
                </div>
            </div>
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1>Колл-центр Dайлинг — ваш ключ к новым клиентам!</h1>
                            <p>Подберите пакет услуг, который нужен именно вам</p>
                            <a href="#" class="btn btn-primary">СДЕЛАЙ ВЫЗОВ!</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="solution" class="section__solution">
            <div class="container">
                <div class="row align-items-lg-center">
                    <div class="col-lg-7">
                        <div class="title__section mb-0">
                            <h2>Индивидуальные решения</h2>
                            <p>Каждый проект обсуждаем и рассчитываем индивидуально. Вы выбираете только те услуги, которые вам требуются.</p>
                        </div>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block">
                        <a href="#" class="btn btn-icons btn-white">Примеры звонков</a>
                    </div>
                </div>
            </div>
            <div class="container width--solution">
                <div class="row pt--solution">
                    <div class="col-lg-4 col-md-6">
                        <h3 class="title__solution">
                            <img src="assets/img/icons/incomming-call.svg" alt="Входящие звонки">
                            Входящие звонки
                        </h3>
                        <ul>
                            <li>Прием звонков</li>
                            <li>Горячая линия</li>
                            <li>Обсуживание интернет-магазина</li>
                            <li>Справочная, диспетчерская служба</li>
                            <li>Техподдержка</li>
                            <li>Виртуальный офис</li>
                            <li>Автоинформатор</li>
                            <li>IVR – интерактивное голосовое меню</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h3 class="title__solution">
                            <img src="assets/img/icons/out-call.svg" alt="Исходящие звонки">
                            Исходящие звонки
                        </h3>
                        <ul>
                            <li>Холодные звонки</li>
                            <li>Создание, актуализация, расширение базы клиентов</li>
                            <li>Поддержка рекламных акций</li>
                            <li>Телемаркетинг</li>
                            <li>Телефонные, социологические опросы</li>
                            <li>Повышение лояльности, постпродажное анкетирование, контроль качества</li>
                            <li>Тайный покупатель</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-12">
                                <h3 class="title__solution">
                                    <img src="assets/img/icons/exchange.svg" alt="Омниканальность">
                                    Омниканальность
                                </h3>
                                <ul>
                                    <li>
                                        Обработка электронной почты 
                                        <span data-quest-id="1" data-quest="Следует отметить, что современная методология разработки однозначно фиксирует необходимость кластеризации усилий. Таким образом, существующая теория требует анализа системы массового участия." class="question">
                                            <span class="icons">
                                                <svg><use xlink:href="#icon-quest"></use></svg>
                                            </span>
                                        </span>
                                    </li>
                                    <li>
                                        Коммуникация в мессенджерах и соцсетях
                                        <span data-quest-id="2" data-quest="Следует отметить, что современная методология разработки однозначно фиксирует необходимость кластеризации усилий. Таким образом, существующая теория требует анализа системы массового участия." class="question">
                                            <span class="icons">
                                                <svg><use xlink:href="#icon-quest"></use></svg>
                                            </span>
                                        </span>
                                    </li>
                                    <li>Прочие каналы связи</li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-12">
                                <h3 class="title__solution">
                                    <img src="assets/img/icons/idea.svg" alt="Нестандартные решения">
                                    Нестандартные решения
                                </h3>
                                <ul>
                                    <li>
                                        Организация колл-центра
                                    </li>
                                    <li>
                                        Обучение ваших сотрудников
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center d-lg-none text-center">
                        
                        <div><br><br><a href="#" class="btn btn-icons btn-white">Примеры звонков</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="test" class="section__test">
            <div class="container">
                <div class="row align-items-lg-center">
                    <div class="col-lg-6">
                        <div class="title__section mb-0">
                            <h2>Недельный тестовый период</h2>
                            <p>Первые семь дней, с момента запуска кейса, мы работаем по минимальным расценкам. В течение этого периода вы сформируете собственное представление о качестве нашей работы.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="circle">
                            <div class="circle--bg"></div>
                            <div class="circle-wrapper">
                                <h4>95%</h4>
                                <p>наших клиентов по истечении <br>тестового периода <br>переходят на постоянную работу с нами.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="start" class="section__start">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title__section">
                            <h2>Запуск проекта в короткие сроки</h2>
                            <p>Запустим ваш проект в любой нише от 2 дней.</p>
                        </div>
                        <div class="line">
                            <div class="line--text">
                                <div class="line-item line-item--1">
                                    <span>01.</span>
                                    <h4>Заявка</h4>
                                    <p>
                                        Оставьте заявку или свяжитесь с нами любым удобным для вас способом
                                    </p>
                                </div>
                                <div class="line-item line-item--2">
                                    <span>02.</span>
                                    <h4>Обсуждение</h4>
                                    <p>
                                        Совместно выработаем решение, которое позволит вашему бизнесу решать поставленные задачи
                                    </p>
                                </div>
                                <div class="line-item line-item--3">
                                    <span>03.</span>
                                    <h4>Реализация</h4>
                                    <p>
                                        Мы берем на себя всю работу, связанную с коммуникациями, и освобождаем вас от лишних действий и трат
                                    </p>
                                </div>
                                <div class="line-item line-item--4">
                                    <span>04.</span>
                                    <h4>Отчетность</h4>
                                    <p>
                                        Предоставим вам всю интересующую вас отчетность, проведем работу по повышению качества
                                    </p>
                                </div>
                            </div>
                            <div class="line--bg">
                                <img src="assets/img/line.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="works" class="section__works">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title__section">
                            <h2>С нами работают</h2>
                        </div>

                        <div class="work-carousel__wrap">
                            <div class="swiper-container work-carousel">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="work-carousel__item">
                                            <div class="work-img">
                                                <img src="assets/img/work-slide/yandexTaxi.png" alt="Яндекс.Такси">
                                            </div>
                                            <div class="work-text">
                                                <h4>Яндекс.Такси</h4>
                                                <p>Агрегатор такси и доставка <br>еды и продуктов</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="work-carousel__item">
                                            <div class="work-img">
                                                <img src="assets/img/work-slide/aramzo.png" alt="ARAMZO">
                                            </div>
                                            <div class="work-text">
                                                <h4>ARAMZO</h4>
                                                <p>Салон парфюмерии и <br>косметики премиум-класса</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="work-carousel__item">
                                            <div class="work-img">
                                                <img src="assets/img/work-slide/vodomir.png" alt="Водомир">
                                            </div>
                                            <div class="work-text">
                                                <h4>Водомир</h4>
                                                <p>Установка аппаратов по <br>очистке воды</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="work-carousel__item">
                                            <div class="work-img">
                                                <img src="assets/img/work-slide/blackStarGaming.png" alt="Black Star Gaming">
                                            </div>
                                            <div class="work-text">
                                                <h4>Black Star Gaming</h4>
                                                <p>Сеть компьютерных <br>клубов</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                            <div class="swiper-button-prev">
                                <svg width="25" height="63" viewBox="0 0 25 63" fill="none" id="next-arrow">
                                    <path d="M2 2L23 31.5L2 61" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="swiper-button-next">
                                <svg width="25" height="63" viewBox="0 0 25 63" fill="none" id="next-arrow">
                                    <path d="M2 2L23 31.5L2 61" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section id="contacts" class="section__about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="title__section">
                            <h2>Доверь вежливость профессионалам</h2>
                        </div>
                        <p>Тел.: <a href="tel:88007009875">8 800 700 9875</a></p>
                        <p>E-mail: <a href="mailto:call@dialing.pro">call@dialing.pro</a></p>
                        <p>Адрес: г. Уфа, ул. Айская, 69, корпус 2А</p>
                        <a href="#" class="btn btn-primary btn-small">ОСТАВИТЬ ЗАЯВКУ</a>
                        <span class="d-none d-md-block">ООО «ЦЕНТР» ИНН 0274924910 КПП 027801001 ОГРН 1170280016972</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="maps-circle">
                            <div id="maps"></div>
                            <script type="text/javascript">
                                ymaps.ready(init);
                                function init(){
                                    var myMap = new ymaps.Map("maps", {
                                        center: [54.731285, 55.976595],
                                        zoom: 14,
                                        controls: []
                                    });

                                    myPlacemark = new ymaps.Placemark([54.731285, 55.976595], {
                                        hintContent: 'Dialing - ул. Айская, 69, корпус 2А',
                                        balloonContent: '<b>Dialing</b> - ул. Айская, 69, корпус 2А'
                                    }, {
                                        iconLayout: 'default#image',
                                        iconImageHref: 'assets/img/icons/marker.svg',
                                        iconImageSize: [48, 56],
                                        iconImageOffset: [-48, -56]
                                    });

                                    myMap.geoObjects.add(myPlacemark)
                                }
                            </script>
                        </div>
                        <span class="d-block d-md-none">ООО «ЦЕНТР» ИНН 0274924910 КПП 027801001 ОГРН 1170280016972</span>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer-content">
                            <b>Хочешь работать в нашей команде?</b>
                            <a href="#" class="btn btn-primary btn-small">ЗАПОЛНИТЬ АНКЕТУ</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- NAVIGATION -->
        <nav class="hidden-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><a data-scroll href="#solution">Наши услуги</a></li>
                            <li><a data-scroll href="#test">Тестовый период</a></li>
                            <li><a data-scroll href="#start">Запуск проекта</a></li>
                            <li><a data-scroll href="#works">Наши клиенты</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <h3 class="nav-title"><a data-scroll href="#contacts">Контакты</a></h3>
                        <p>Тел.: <a href="tel:88007009875">8 800 700 9875</a></p>
                        <p>E-mail: <a href="mailto:call@dialing.pro">call@dialing.pro</a></p>
                        <p>Адрес: г. Уфа, ул. Айская, 69, корпус 2А</p>
                        <a href="#" class="btn btn-primary btn-small">ОСТАВИТЬ ЗАЯВКУ</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END NAVIGATION -->
        <!-- /.burger original -->
        <div class="burger original">
            <span></span>
            <span></span>
        </div>
        <!-- END /.burger original -->
        {% include "include/svg.html" %}
    </div>
    
    
    {% include "include/script.html" %}
</body>
</html>