@import "./fonts";
@import "./vars";

@import "normalize.css";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/swiper/swiper-bundle";


*,
*::after,
*::before{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

b, strong{
    font-weight: bold;
}


body{
    font-family: $font-family;
    font-size: $font-size;
    line-height: 1.4;
    color: $text;
    min-width: 320px;
    overflow-x: hidden;
    input,
    textarea,
    button{
        outline: none;
        &:focus{
            outline: none;
        }
    }
}

.site{
    overflow-x: hidden;
}

.btn{
    padding: 22px 60px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.05em;
    transition: all .25s ease;
    position: relative;
    border: none;
    @media (max-width: 767px) {
        padding: 15px 30px;
        font-size: 14px;
    }
    &-primary{
        background-color: $accent;
        color: #ffffff;
        &:hover{
            background-color: $hover;
            box-shadow: 0px 5px 5px rgba(37, 50, 188, 0.1);
        }
        &:active{
            background-color: darken($hover, 10%);
        }
    }
    &-small{
        padding: 15px 30px;
        font-size: 14px;
        font-weight: normal;
    }
    &-icons{
        padding-left: 100px;
        color: $text;
        font-size: 26px;
        padding-top: 44px;
        padding-bottom: 44px;
        border-radius: 100px;
        @media (max-width: 992px) {
            padding-top: 37px;  
            padding-bottom: 37px;
            font-size: 22px;
        }
        @media (max-width: 767px) {
            padding-top: 26px !important;  
            padding-bottom: 26px !important;
            padding-left: 85px !important; 
            font-size: 18px;
            font-weight: normal;
            &::before{
                width: 42px;
                height: 42px;
                left: 25px;
            }
        }
        &::before{
            content: '';
            width: 50px;
            height: 50px;
            background-color: $accent;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 33px;
            border-radius: 50%;
            background-image: url('../assets/img/icons/microphone.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
        }
    }
    &-white{
        background-color: #ffffff;
        &:hover{
            color: $accent;
        }
    }
}

.top-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    padding-top: 40px;
    position: relative;
    z-index: 10;
    .info{
        display: flex;
        align-items: center;
    }
    @media (max-width: 992px) {
        padding-left: 50px;
        padding-right: 30px;
    }
    @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
}

.logo{
    max-width: 238px;
    width: 100%;
    @media (max-width: 767px) {
        max-width: 180px;
    }
    img{
        width: 100%;
        display: block;
    }
}

.phone{
    padding-left: 20px;
    position: relative;
    @media (max-width: 767px) {
        display: none;
    }
    &::before{
        content: '';
        width: 20px;
        height: 20px;
        background-image: url('../assets/img/icons/phone.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
    }
    a{
        color: #56e0ba;
        text-decoration: none;
        font-size: 16px;
        line-height: 18px;
    }
}

.burger{
    width: 60px;
    height: 60px;
    background-color: $accent;
    margin-left: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .25s ease;
    @media (max-width: 992px) {
        width: 42px;
        height: 42px;
        span{
            width: 21px;
        }
    }
    &:hover{
        background-color: $hover;
        cursor: pointer;
    }
    &.clone{
        opacity: 0;
    }
    &.original{
        position: absolute;
        z-index: 12;
    }
    span{
        display: block;
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        border-radius: 6px;
        transition: all .25s ease;
        & + span{
            margin-top: 6px;
        }
    }
    &.active{
        span{
            position: absolute;
            top: 50%;
            margin: 0 !important;
            &:nth-child(1) {
                transform: rotate(45deg) translateY(-50%);
            }
            &:nth-child(2) {
                transform: rotate(-45deg) translateY(-50%);
            }
        }
    }
}

header{
    background: $header-gradient;
    position: relative;
    .bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        @media (max-width: 1200px) {
            &::before{
                left: -35%;
                top: -6%;
            }
            &::after{
                right: -39%;
                bottom: 0;
            }
        }
        @media (max-width: 992px) {
            &::before{
                left: -64%;
                top: -8%;
            }
            &::after{
                right: -62%;
                bottom: -1%;
            }
        }
        @media (max-width: 767px) {
            &::before{
                left: -37%;
            }
        }
        &::after,
        &::before{
            content: '';
            width: 1684px;
            height: 868px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            background-image: url('../assets/img/bg-line-rigth.svg');
            mix-blend-mode: luminosity;
        }
        &::after{
            width: 1552px;
            height: 763px;
            left: initial;
            right: 0;
            bottom: 0;
            top: initial;
            background-image: url('../assets/img/bg-line-left.svg');
            @media (max-width: 767px) {
                display: none;
            }
        }
        .elipse{
            background-image: url('../assets/img/elipse.svg');
            background-size: cover;
            border-radius: 50%;
            position: absolute;
            z-index: 2;
            &--small {
                width: 182px;
                height: 182px;
                right: 23%;
                bottom: 10%;
                @media (max-width: 767px) {
                    bottom: -10%;
                    right: initial;
                    left: -120px;
                    filter: blur(10px);
                }
            }
            &--middle {
                width: 266px;
                height: 266px;
                opacity: 0.9;
                filter: blur(7px);
                right: -2%;
                top: 20%;
                @media (max-width: 767px) {
                    right: -200px;
                }
            }
            &--big {
                width: 370px;
                height: 370px;
                opacity: 0.8;
                filter: blur(17px);
                left: -6%;
                bottom: -5%;
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
    
    .header-content{
        padding: 200px 0;
        color: #ffffff;
        position: relative;
        z-index: 10;
        @media (max-width: 1200px) {
            padding-bottom: 130px;
        }
        @media (max-width: 767px) {
            padding-top: 100px;
            padding-bottom: 75px;
            h1{
                font-size: 32px;
                line-height: 38px;
            }
            p{
                font-size: 16px;
                line-height: 24px;
            }
        }
        @media (max-width: 390px) {
            .btn{
                width: 100%;
            }
        }
        h1{
            font-weight: bold;
            font-size: 71px;
            line-height: 85px;
            font-family: $pf;
            margin-top: 0;
            margin-bottom: 20px;
            @media (min-width: 1400px) {
                width: 1220px;
            }
        }
        p{
            margin: 0;
            font-size: 22px;
            line-height: 32px;
            opacity: 0.7;
            margin-bottom: 40px;
        }
    }
}

.hidden-nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 11;
    background-color: #ffffff;
    padding-top: 150px;
    padding-bottom: 100px;
    transition: all .5s ease-in-out;
    transform: translateY(-110%);
    @media (max-width: 992px) {
        padding-top: 130px;
        ul{
            margin-bottom: 20px;
            li{
                margin-bottom: 20px;
            }
        }
    }
    @media (max-width: 767px) {
        padding-top: 80px;
        ul{
            li{
                a{
                    font-size: 22px;
                    line-height: 32px;
                }
            }
        }
    }
    &.active{
        transform: translateY(0);
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
            margin-bottom: 40px;
            &:last-child{
                margin-bottom: 0;
            }
            a{
                font-weight: 300;
                font-size: 36px;
                line-height: 32px;
                color: #000000;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .nav-title{
        margin-top: 0;
        font-weight: 300;
        font-size: 36px;
        line-height: 32px;
        margin-bottom: 40px;
        @media (max-width: 767px) {
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 20px;
        }
        a{
            color: #000000;
            text-decoration: none;
        }
    }
    p{
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 18px;
        @media (max-width: 767px) {
            font-size: 12px;
            line-height: 24px;

        }
        a{
            text-decoration: underline;
            color: #000000;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .btn{
        margin-top: 20px;
    }
}

.section__solution{
    background-color: $bg;
    padding: 95px 0;
    padding-bottom: 45px;
    @media (max-width: 992px) {
        padding-bottom: 80px;        
        .pt--solution{
            padding-top: 30px;
        }
    }
    @media (max-width: 767px) {
        padding-bottom: 60px;
    }
    .pt--solution{
        padding-top: 60px;
    }
    .title__section{
        margin-bottom: 60px;
    }
    .title__solution{
        margin-top: 0;
        display: flex;
        align-items: center;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 15px;
        img{
            display: block;
            margin-right: 12px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
            margin-bottom: 15px;
            position: relative;
            &::before{
                content: '';
                width: 21px;
                height: 21px;
                border-radius: 50%;
                background-color: #ededed;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after{
                content: '';
                width: 7px;
                height: 7px;
                position: absolute;
                right: 6px;
                top: 50%;
                transform: translateY(-50%);
                border: 4px solid transparent;
                border-top: 4px solid #000;
                margin-top: 3.5px;
                transition: all .25s ease;
            }
            &.active{
                &::after{
                    transform: translateY(-50%) scaleY(-1);
                    margin-top: -3px;
                }
                & + ul {
                    display: block;
                }
            }
        }
    }
    ul{
        margin: 0;
        padding-left: 0;
        margin-bottom: 50px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
            display: none;
            li{
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 5px;
            }
        }
        li{
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 24px;
            opacity: 0.7;
            list-style-position: inside;
            list-style-type: none;
            padding-left: 17px;
            position: relative;
            &::before{
                content: '•';
                position: absolute;
                left: 0;
                top: 0px;
            }
        }
    }
}

.title__section{
    margin-bottom: 60px;
    @media (max-width: 767px){
        margin-bottom: 30px;    
        h2{
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 12px;
        }
        p{
            font-size: 14px;
            line-height: 21px;
        }
    }
    h2{
        margin-top: 0;
        margin-bottom: 25px;
        font-family: $pf;
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
    }
    p{
        margin: 0;
        font-size: 18px;
        line-height: 32px;
    }
}

.sprite-svg{
    display: none;
}

.question{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    opacity: 0.3;
    transition: all .25s ease;
    position: relative;
    z-index: 20;
    &.active{
        border-color: $accent;
        opacity: 1;
        svg{
            fill: $accent
        }
        .text{
            display: block;
        }
    }
    &:hover{
        cursor: pointer;
        border-color: $accent;
        opacity: 1;
        svg{
            fill: $accent
        }
    }
    .icons{
        color: #000000;
        font-size: 10px;
        svg{
            width: 5px;
            height: 9px;
            display: block;
            fill: #000;
        }
    }
    
}
.text-quest{
    position: fixed;
    transform: translateX(-50%);
    background-color: #ffffff;
    box-shadow: 0px 35px 46px rgba(37, 50, 188, 0.03);
    border-radius: 10px;
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
    width: 320px;
    z-index: 20;
    margin-top: 18px;
    @media (max-width: 400px) {
        left: 10px !important;
        width: calc(100% - 20px) !important;
        transform: none !important;
    }
}

.wrap-text--clicked{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 19;
}

.section__test{
    padding: 50px 0;
    box-shadow: 0px 35px 46px rgba(37, 50, 188, 0.03);
}

.circle{
    position: relative;
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 992px) {
        margin-top: 45px;
    }
    @media (max-width: 400px) {
        width: 260px;
        height: 260px;
        &--bg{
            width: 260px;
            height: 260px;
        }
        &-wrapper{
            width: 255px;
            height: 255px;
            h4{
                font-size: 86.5028px;
                line-height: 104px;
            }
            p{
                font-size: 12px;
                line-height: 18px;
                br{
                    display: none;
                }
            }
        }
    }
    &:hover{
        .circle--bg{
            animation: 1s linear infinite forwards circle;
        }
    }
    &--bg{
        width: 350px;
        height: 350px;
        overflow: hidden;
        border-radius: 50%;
        background: conic-gradient(from 90deg at 50% 50%, #FBFCFF 0deg, #53E3CF 86.25deg, #4483FC 360deg);
        position: absolute;
    }
    &-wrapper{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 345px;
        height: 345px;
        background-color: #ffffff;
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
        h4{
            margin: 0;
            font-size: 116px;
            line-height: 139px;
            letter-spacing: -0.045em;
            font-weight: normal;
            font-family: $pf;
        }
        p{
            margin: 0;
            font-size: 16px;
            line-height: 24px;;
        }
    }
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.section__start{
    background-color: $bg;
    padding: 85px 0;
    padding-bottom: 0;
    @media (max-width: 992px) {
        padding-bottom: 60px;
    }
    @media (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .title__section{
        margin-bottom: 20px;
        @media (max-width: 992px) {
            margin-bottom: 40px;
        }
    }
}

.line{
    position: relative;
    @media (min-width: 1500px) {
        width: 1234.44px;
    }
    
    &--bg{
        @media (max-width: 992px) {
            display: none;
        }
        img{
            width: 100%;
        }
    }
    &--text{
        @media (max-width: 992px) {
            display: flex;
            column-gap: 25px;
            overflow-x: auto;
            width: calc(100% + 20px);
            padding-left: 10px;
            position: relative;
            &::before{
                content: '';
                width: 1080px;
                height: 6px;
                background:linear-gradient(264.19deg, #80F2B9 21.23%, #53EBF8 46.64%, #46B4F1 73%, #4483FC 99.05%);
                position: absolute;
                left: 0;
                bottom: 12px;
            }
        }
    }
    &-item{
        max-width: 293px;
        width: 100%;
        position: absolute;
        z-index: 2;
        @media (max-width: 1100px) {
            max-width: 230px;
            span{
                font-size: 32px;
                line-height: 38px;
            }
            h4{
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 10px;
            }
            p{
                font-size: 12px;
                line-height: 18px;
            }
        }
        @media (max-width: 992px) {
            position: relative;
            left: initial;
            top: initial;
            bottom: initial;
            max-width: none;
            flex: 0 0 250px;
            width: 250px;
            padding-left: 25px;
            background-image: url('../assets/img/line-border.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            padding-bottom: 25px;
            &::before{
                content: '';
                width: 20px;
                height: 20px;
                border: 3px solid #fff;
                position: absolute;
                left: -10px;
                bottom: 5px;
                border-radius: 50%;
            }
        }
        span{
            font-weight: bold;
            font-size: 40px;
            line-height: 48px;
            display: block;
            font-family: $pf;
        }
        h4{
            font-weight: normal;
            font-size: 22px;
            line-height: 32px;
            margin-top: 0;
            margin-bottom: 15px;
            font-weight: 500;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            margin: 0;
        }
        &--1{
            left: 35px;
            top: 22%;
            span{
                color: #4483FC;
            }
            @media (max-width: 992px) {
                &::before{
                    background-color: #4483fc;
                }
            }
        }
        &--2{
            left: 29%;
            bottom: 18%;
            span{
                color: #46B4F1;
            }
            @media (max-width: 992px) {
                &::before{
                    background-color: #46B4F1;
                }
            }
        }
        &--3{
            left: 54%;
            top: 0%;
            span{
                color: #53EBF8;
            }
            @media (max-width: 992px) {
                &::before{
                    background-color: #53EBF8;
                }
            }
        }
        &--4{
            left: 80%;
            bottom: 30%;
            span{
                color: #55F3C7;
            }
            @media (max-width: 992px) {
                &::before{
                    background-color: #55F3C7;
                }
            }
        }
    }
}

.section__works{
    background-color: $bg;
    padding-bottom: 160px;
    padding-top: 30px;
    @media (max-width: 992px) {
        padding-bottom: 40px;
    }
}

.work-carousel__item{
    .work-img{
        width: 220px;
        position: relative;
        background-color: #ffffff;
        border-radius: 50%;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        &::before{
            content: '';
            padding-top: 100%;
            display: block;
        }
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            max-width: 170px;
            width: 100%;
        }
        @media (max-width: 640px){
            width: 170px;
            margin-bottom: 20px;
        }
    }
    .work-text{
        text-align: center;
        h4{
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 22px;
            line-height: 32px;
            font-weight: 500;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            margin: 0;
        }
        @media (max-width: 640px){
            h4{
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 5px;
            }
            p{
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}
.work-carousel__wrap{
    position: relative;
}

.swiper-button-next, .swiper-button-prev{
    width: 25px;
    height: 63px;
    background-image: none;
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0;
    right: -50px;
    top: 125px;
    svg{
        width: 25px;
        height: 63px;
        transition: all .25s ease;
        stroke: #000;
    }
    &:hover{
        svg, path{
            stroke: $accent !important;
        }
    }
    @media (max-width: 640px){
        right: 10px;
        top: 57px;
    }
    &::after{
        display: none;
    }
}
.swiper-button-prev{
    transform: scaleX(-1);
    left: -50px;
    @media (max-width: 640px){
        left: 10px;
    }
}

.section__about{
    padding-top: 100px;
    padding-bottom: 40px;
    @media (max-width: 1200px){
        padding-top: 50px;
    }
    @media (max-width: 767px){
        padding-bottom: 20px;
        p{
            font-size: 14px;
            line-height: 24px;
        }
        span{
            margin-top: 50px;
        }
        
    }
    .title__section{
        margin-bottom: 30px;
    }
    p{
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 10px;
        margin-top: 0;
        a{
            color: $text;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    span{
        font-size: 11px;
        line-height: 12px;
        opacity: 0.5;
        margin-top: 70px;
        display: block;
    }
    .btn{
        margin-top: 20px;
        @media (max-width: 390px){
            width: 100%;
        }
    }
}

.maps-circle{
    width: 544px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -125px;
    transition: all .25s ease;
    @media (max-width: 1200px){
        width: 415px;
        margin-top: 0;
    }
    @media (max-width: 992px){
        border-radius: 0;
        width: 100%;
        height: 235px;
        margin-top: 40px;
        width: calc(100% + 30px);
        margin-left: -15px;
        &::before{
            display: none;
        }
        
    }
    &:hover{
        border-radius: 0;
    }
    &::before{
        content: '';
        padding-top: 100%;
        display: block;
    }
    #maps{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

footer{
    background: radial-gradient(90.63% 74.83% at 60.59% 10.71%, #4C5CD2 0%, #1B2A95 93.76%);
    padding: 42px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    @media (max-width: 767px) {
        padding: 30px 0;
    }
    &::before{
        content: '';
        background: url('../assets/img/line-footer.svg');
        width: 1748px;
        height: 1175px;
        position: absolute;
        left: 50%;
        top: 0;
        mix-blend-mode: luminosity;
        opacity: 0.5;
        transform: translateX(-39%);
        background-repeat: no-repeat;
        @media (max-width: 992px) {
            background-size: 2500px;
            transform: translateX(-63%);
            top: 5%;
        }
        
    }
    b{
        color: #ffffff;
        font-size: 24px;
        line-height: 32px;
        font-family: $pf;
        display: inline-block;
        margin-right: 25px;
        
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 992px){
            flex-direction: column;
            b{
                margin-bottom: 20px;
            }
        }
        @media (max-width: 767px) {
            b{
                font-size: 18px;
                line-height: 24px;
                margin-right: 0;
            }
        }
        @media (max-width: 390px) {
            .btn{
                width: 100%;
            }
        }
    }
}

.popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease;
    &.active{
        opacity: 1;
        visibility: visible;
        .popup-content{
            opacity: 1;
            transform: scale(1);
        }
    }
    &-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        display: flex;
        background-color: rgba(0,0,0,.8);
    }
    .popup-close--inner{
        @media (max-width: 992px){
            display: block;
        }
    }
    &-close{
        width: 60px;
        height: 60px;
        position: fixed;
        right: 50px;
        top: 50px;
        background-size: cover;
        border-radius: 50%;
        background-color: #ffffff;
        transition: all .25s ease;
        &--inner{
            display: none;
        }
        @media (max-width: 992px){
            display: none;
            position: absolute;
            right: 30px;
            top: 30px;
            background-color: $accent;
            &::after,
            &::before{
                background-color: #ffffff;
            }
        }
        @media (max-width: 767px){
            width: 40px;
            height: 40px;
            right: 20px;
            top: 20px;
            &::after,
            &::before{
                width: 15px;
            }
        }
        &::after,
        &::before{
            content: '';
            width: 28px;
            height: 2px;
            border-radius: 5px;
            position: absolute;
            left: 50%;
            top: 50%;
            background-color: #000000;
            transition: all .25s ease;
        }
        &::before{
            transform: translate(-50%,-50%) rotate(-45deg);
        }
        &::after{
            transform: translate(-50%,-50%) rotate(45deg);
        }
        &:hover{
            background-color: $hover;
            cursor: pointer;
            &::after,
            &::before{
                background-color: #ffffff;
            }
        }
    }
    &-content{
        max-width: 600px;
        width: 100%;
        padding: 60px 70px;
        margin: auto;
        background-color: #ffffff;
        border-radius: 10px;
        text-align: center;
        opacity: 0;
        transform: scale(.7);
        transition: all .25s ease;
        transition-delay: .25s;
        @media (max-width: 992px){
            padding-top: 130px;
            position: relative;
        }
        @media (max-width: 767px){
            padding-top: 100px;
        }
        @media (max-width: 576px){
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 30px;
            border-radius: 0;
            p{
                br{
                    display: none;
                }
            }
        }
        h3{
            margin-top: 0;
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 25px;
            font-family: $pf;
        }
        p{
            margin-top: 0;
            margin-bottom: 45px;
            font-size: 16px;
            line-height: 28px;
            a{
                color: $accent;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.fieldset{
    margin-bottom: 30px;
    position: relative;
    legend{
        color: #909090;
        font-size: 18px;
        line-height: 1;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        transition: all .25s ease;
        sup{
            color: red;
        }
        &.focus{
            transform: translateY(-130%);
            top: 0;
            font-size: 14px;
        }
    }
    input{
        width: 100%;
        height: 50px;
        border: 1px solid #C9C9C9;
        border-radius: 5px;
        padding-left: 15px;
        position: relative;
        z-index: 2;
        background-color: transparent;
    }
    input[type='tel']{
        &::placeholder{
            font-size: 0;
            color: #fff;
        }
    }
}